<div class="container mt-5">
  <h1 class="text-center">Soyez La Bienvenue</h1><br>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h2>Authentification</h2>
        </div>
        <div class="card-body">
          <form>
            <!-- Message d'erreur -->
            <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
            <!-- Message de succès -->
            <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>

            <div class="form-group mb-3">
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                [(ngModel)]="email"
                name="email"
                placeholder="Email"
                class="form-control"
              />
            </div>

            <div class="form-group mb-3">
              <label for="password">Mot de passe</label>
              <input
                type="password"
                id="password"
                [(ngModel)]="password"
                name="password"
                placeholder="Mot de passe"
                class="form-control"
              />
            </div>

            <div class="d-flex justify-content-between">
              <button (click)="signUp()" class="btn btn-primary">S'inscrire</button>
              <button (click)="signIn()" class="btn btn-success">Se connecter</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
